parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
	dsn: 'mysql:host=mysql.muj.cloud;dbname=school_PhTT7'
	user: 'school_PhTT7'
	password: 'heslo123'


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\UI\Accessory\LatteExtension


di:
	export:
		parameters: no
		tags: no
